.spacer {
    flex: 1 1 auto;
}

.user-name {
    margin-right: 8px;
    font-size: 14px;
    display: none;

    @media (min-width: 600px) {
        display: inline;
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}