.profile-container {
    max-width: 600px;
    margin: 2rem auto;
}

.profile-avatar {
    background-color: #3f51b5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 50%;
    font-size: 1.5rem;
    width: 60px;
    height: 60px;
}

.full-width {
    width: 100%;
    margin-bottom: 1rem;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
}